.zborder{
    border: 1px solid red;
}

html,
body{
    position: relative;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
}

#app{
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
}